body{
    background-color: gold;
    }
     .h1style{
        color: green;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }
    
    .images{
        width: 90%;
        height: 70%;
    }
    
    .subdiv{
        float: left;
        width: 20%;
        height: 20%;
        border: 2px solid rgb(14, 170, 14);
        padding-left: 10px;
    }
    
    .maindiv{
        width: 80%;
        height: auto;
        margin: auto;
        background-color: blue;
        margin-right: 60px;
        
    
        
    }
    
    
    .caption{
        color: green;
        text-align: center;
    }
